// ----------------------------------------------------------------------------
// 
// ---  -... .- -. -.-  -- .- .. -.  -.-. ... ... 
// ::: O Bank Main SCSS :::
// ---  -... .- -. -.-  -- .- .. -.  -.-. ... ... 
// 
// ::: Sections
//
// -> Extending Bulma
// -> Global Variables
// -> Defaults
// -> Home
// -> Account
//
// ----------------------------------------------------------------------------


// ----------------------------------------------------------------------------
// -> Extending Bulma
// ----------------------------------------------------------------------------

@import "~bulma/sass/utilities/_all";

$primary: #62AB59;
$primary-invert: findColorInvert($primary);
$info: #47b7a8;
$info-invert: findColorInvert($info);

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);

$title-color: $primary;

$section-padding: 3rem 0  ;

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$icon-dimensions: 100%;

$title-weight: 400;

$navbar-breakpoint: 0px;

@import "~bulma";
@import "~buefy/src/scss/buefy";


// ----------------------------------------------------------------------------
// -> Global Variables
// ----------------------------------------------------------------------------

$font-stack: 'Raleway', sans-serif;
$background: #f5f5f5;


// ----------------------------------------------------------------------------
// -> Defaults
// ----------------------------------------------------------------------------

* { font-family: $font-stack; }

html { height: 100%; background: $background; }
body, #app { min-height: 100%; height: 100%; background: $background; }

.navbar {
  background: $background;
  padding-top: 40px;
}

.box {
  background: white;
  padding: 1.2em 1.5em;
  box-shadow: 0px 1px 2px #c6c6c6;
  border-radius: 8px;

  h1:not(.title),
  h2:not(.title),
  h3:not(.title),
  h4:not(.title),
  h5:not(.title),
  h6:not(.title) {
    color: black;
    font-weight: 500;
  }

  h2:not(.title) { font-size: 60px; }

  hr {
    margin: 8px 0;
    height: 1px;
  }
}

.modal-info { padding: 14px 0 20px; }

.plain-text {
  border: none;
  font-size: 15px;
  color: #4a4a4a;
  pointer-events: none;
  outline: none;
  background: none;
  width: 100%;
}

.modal-info .plain-text {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.is-relative { position: relative; }


// ----------------------------------------------------------------------------
// -> Home
// ----------------------------------------------------------------------------

.home {
  background: $primary url('../background-texture.png') repeat center center;
  color: white;
  display: block;
  padding-top: 70px;
  min-height: 100%;

  .title {
    padding: 110px 40px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    display: inline-block;

    @media (max-width: 440px) { padding: 80px 30px; }

    h1 {
      font-size: 60px;
      font-weight: 300;

      // @media (max-width: 700px) { text-align: right; }
      @media (max-width: 440px) { font-size: 50px; }
    }

    small {
      font-size: 20px;
      font-weight: 400;
      font-style: italic;
      display: block;
      text-align: right;
      padding: 10px 5px;

      @media (max-width: 772px) { text-align: center; }
    }
  }

  .action {
    .button { margin: 0 6px; }
  }

  .bottom-info {

    padding: 100px 50px 20px;

    p {
      text-shadow: 1px 1px 1px #000;
      font-size: 16px;

      a { color: white; }
      a:hover { opacity: 0.8; }
    }
  }
}


// ----------------------------------------------------------------------------
// -> Account
// ----------------------------------------------------------------------------

.account {
  min-height: 100%;
  padding-bottom: 50px;

  .account-info {
    .section-icon {
      font-size: 75px;
      color: $primary;
      margin-top: -20px;
    }

    .user-amount input {
      @extend .plain-text;

      font-size: 60px;
      color: black;
      width: 100%;
    }
  }

  .panel {
    .columns { width: 100%; }
    .panel-icon { margin-top: 7px; }
    .plain-text {
      text-align: right;
      font-weight: 500;
    }
    strong { margin-left: 25px; }
    .is-one-quarter > * { padding-top: 15px; }
  }

  .holders {
    .holder {
      margin: 10px 0;
    }
  }
}
